In [157]:
rm(list=ls())  #start fresh

In [158]:
install.packages("openxlsx") #install the package needed to read the file

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [159]:
#access the library to read the file
library(openxlsx)

In [160]:
#read the file
HumDevIndx = read.xlsx("https://github.com/Fundamentals-Josh/Week_6_Exercise_2/raw/refs/heads/main/HDR25_Statistical_Annex_HDI_Table.xlsx")

In [161]:
#show the head for examination (10 rows)
head(HumDevIndx,10)

   X1       Table.1..Human.Development.Index.and.its.components
1  NA       NA
2  NA       NA
3  HDI rank Country
4  NA       NA
5  NA       Very high human development
6  1        Iceland
7  2        Norway
8  2        Switzerland
9  4        Denmark
10 5        Germany
   X3                             X4                       X5
1  NA                             SDG3                     NA
2  Human Development Index (HDI)  Life expectancy at birth NA
3  Value                          (years)                  NA
4  2023                           2023                     NA
5  NA                             NA                       NA
6  0.97199999999999998            82.691000000000003       NA
7  0.97                           83.308000000000007       NA
8  0.97                           83.953999999999994       NA
9  0.96199999999999997            81.933000000000007       NA
10 0.95899999999999996            81.378                   NA
   X6                          X7 X8                      X9
1  SDG4.3                      NA SDG4.4                  NA
2  Expected years of schooling NA Mean years of schooling NA
3  (years)                     NA (years)                 NA
4  2023                        a  2023                    a
5  NA                          NA NA                      NA
6  18.850589750000001          c  13.908926279999999      d
7  18.792850489999999          c  13.117962179999999      e
8  16.667530060000001          NA 13.94912109             e
9  18.704010010000001          c  13.027320599999999      e
10 17.30921936                 NA 14.296371629999999      e
   X10                                    X11
1  SDG8.5                                 NA
2  Gross national income (GNI) per capita NA
3  (2021 PPP $)                           NA
4  2023                                   NA
5  NA                                     NA
6  69116.937359999996                     NA
7  112710.0211                            f
8  81948.901769999997                     f
9  76007.856690000001                     f
10 64053.221239999999                     NA
   X12                                X13 X14
1  NA                                 NA  NA
2  GNI per capita rank minus HDI rank NA  HDI rank
3  NA                                 NA  NA
4  2023                               b   2022
5  NA                                 NA  NA
6  12                                 NA  3
7  0                                  NA  1
8  5                                  NA  2
9  4                                  NA  4
10 13                                 NA  6

In [162]:
#delete unecessary columns and show execution
HumDevIndx$X5 <- NULL
HumDevIndx$X7 <- NULL
HumDevIndx$X9 <- NULL
HumDevIndx$X11 <- NULL
HumDevIndx$X13 <- NULL

head(HumDevIndx,3)

  X1       Table.1..Human.Development.Index.and.its.components
1 NA       NA
2 NA       NA
3 HDI rank Country
  X3                             X4
1 NA                             SDG3
2 Human Development Index (HDI)  Life expectancy at birth
3 Value                          (years)
  X6                          X8
1 SDG4.3                      SDG4.4
2 Expected years of schooling Mean years of schooling
3 (years)                     (years)
  X10                                    X12
1 SDG8.5                                 NA
2 Gross national income (GNI) per capita GNI per capita rank minus HDI rank
3 (2021 PPP $)                           NA
  X14
1 NA
2 HDI rank
3 NA

In [163]:
# Read the file again, this time without assuming headers initially.
# This ensures column names are generic (V1, V2, etc.) before we explicitly set them.
HumDevIndx = read.xlsx("https://github.com/Fundamentals-Josh/Week_6_Exercise_2/raw/refs/heads/main/HDR25_Statistical_Annex_HDI_Table.xlsx", colNames = FALSE)

# Delete unnecessary columns first using numeric indices.
# delete columns 5, 7, 9, 11, 13.
HumDevIndx <- HumDevIndx[, -c(5, 7, 9, 11, 13)]

# Manually define the correct header names based on the original row 2 and the columns kept.
# This prevents issues where HumDevIndx[2, ] might contain data values or NA's.
correct_headers <- c(
  "2023 HDI rank",
  "Country",
  "Human Development Index (HDI)",
  "Life expectancy at birth",
  "Expected years of schooling",
  "Mean years of schooling",
  "Gross national income (GNI) per capita",
  "GNI per capita rank minus HDI rank",
  "HDI rank"
)

# Assign these as the new column names
colnames(HumDevIndx) <- correct_headers

# Trim whitespace from all column names to ensure exact matches for future operations.
names(HumDevIndx) <- trimws(names(HumDevIndx))

# Now, remove the metadata rows. Original rows 1 (table title), 3 (category title),
# and 4 (a duplicate 'HDI rank' header), 5 (metadata year), and 6 (region/group) are no longer needed as data rows.
# Since we used original row 2 as headers, we now remove current rows 1, 2, 3, 4, 5, 6.
HumDevIndx <- HumDevIndx[-c(1:6), ]

# Reset the row names to be a continuous sequence starting from 1.
rownames(HumDevIndx) <- NULL

# Ensure dplyr is loaded for next stpes
library(dplyr)

# Convert specified columns to integer
HumDevIndx <- HumDevIndx %>%
  mutate(
    `2023 HDI rank` = as.integer(`2023 HDI rank`),
    `GNI per capita rank minus HDI rank` = as.integer(`GNI per capita rank minus HDI rank`)
  )

# Ensure 'Country' is character type
HumDevIndx$Country <- as.character(HumDevIndx$Country)

# Identify columns to convert to numeric (double to preserve decimal places)
numeric_cols <- c(
  "Human Development Index (HDI)",
  "Life expectancy at birth",
  "Expected years of schooling",
  "Mean years of schooling",
  "Gross national income (GNI) per capita"
)

# Apply as.double to these columns. Adding a gsub for 'Human Development Index (HDI)'
# to remove any non-numeric characters (like hidden spaces) that might prevent proper conversion.
HumDevIndx <- HumDevIndx %>%
  mutate(
    `Human Development Index (HDI)` = as.double(gsub("[^0-9.]", "", `Human Development Index (HDI)`)),
    across(all_of(setdiff(numeric_cols, "Human Development Index (HDI)")), as.double)
  )

# Round specified numeric columns to two decimal places for display purposes
HumDevIndx <- HumDevIndx %>%
  mutate(
    `Human Development Index (HDI)` = round(`Human Development Index (HDI)`, 2),
    `Life expectancy at birth` = round(`Life expectancy at birth`, 2),
    `Expected years of schooling` = round(`Expected years of schooling`, 2),
    `Mean years of schooling` = round(`Mean years of schooling`, 2),
    `Gross national income (GNI) per capita` = round(`Gross national income (GNI) per capita`, 2)
  )

# Finally, rename the "HDI rank" column to "2022 HDI rank" as requested, and convert it to integer.
HumDevIndx <- HumDevIndx %>%
  rename("2022 HDI rank" = "HDI rank") %>%
  mutate(`2022 HDI rank` = as.integer(`2022 HDI rank`))


#show head and string for verification
head(HumDevIndx)
str(HumDevIndx)

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `GNI per capita rank minus HDI rank = as.integer(`GNI per capita
  rank minus HDI rank`)`.
Caused by warning:
! NAs introduced by coercion”
Warning message:
“There were 3 warnings in `mutate()`.
The first warning was:
ℹ In argument: `Human Development Index (HDI) = as.double(gsub("[^0-9.]", "",
  `Human Development Index (HDI)`))`.
Caused by warning:
! NAs introduced by coercion
ℹ Run `dplyr::last_dplyr_warnings()` to see the 2 remaining warnings.”
Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `2022 HDI rank = as.integer(`2022 HDI rank`)`.
Caused by warning:
! NAs introduced by coercion”

  2023 HDI rank Country     Human Development Index (HDI)
1 1             Iceland     0.97
2 2             Norway      0.97
3 2             Switzerland 0.97
4 4             Denmark     0.96
5 5             Germany     0.96
6 5             Sweden      0.96
  Life expectancy at birth Expected years of schooling Mean years of schooling
1 82.69                    18.85                       13.91
2 83.31                    18.79                       13.12
3 83.95                    16.67                       13.95
4 81.93                    18.70                       13.03
5 81.38                    17.31                       14.30
6 83.26                    18.99                       12.74
  Gross national income (GNI) per capita GNI per capita rank minus HDI rank
1  69116.94                              12
2 112710.02                               0
3  81948.90                               5
4  76007.86                               4
5  64053.22                              13
6  66102.09                              10
  2022 HDI rank
1 3
2 1
3 2
4 4
5 6
6 4

'data.frame':	262 obs. of  9 variables:
 $ 2023 HDI rank                         : int  1 2 2 4 5 5 7 8 8 10 ...
 $ Country                               : chr  "Iceland" "Norway" "Switzerland" "Denmark" ...
 $ Human Development Index (HDI)         : num  0.97 0.97 0.97 0.96 0.96 0.96 0.96 0.96 0.96 0.95 ...
 $ Life expectancy at birth              : num  82.7 83.3 84 81.9 81.4 ...
 $ Expected years of schooling           : num  18.9 18.8 16.7 18.7 17.3 ...
 $ Mean years of schooling               : num  13.9 13.1 13.9 13 14.3 ...
 $ Gross national income (GNI) per capita: num  69117 112710 81949 76008 64053 ...
 $ GNI per capita rank minus HDI rank    : int  12 0 5 4 13 10 14 4 6 9 ...
 $ 2022 HDI rank                         : int  3 1 2 4 6 4 8 9 7 13 ...

In [164]:
library(dplyr) # Ensure dplyr is loaded

# Convert specified columns to integer
HumDevIndx <- HumDevIndx %>%
  mutate(
    `2023 HDI rank` = as.integer(`2023 HDI rank`),
    `GNI per capita rank minus HDI rank` = as.integer(`GNI per capita rank minus HDI rank`),
    `2022 HDI rank` = as.integer(`2022 HDI rank`)
  )

# Ensure 'Country' is character type
HumDevIndx$Country <- as.character(HumDevIndx$Country)

# Convert other numerical columns to numeric to preserve decimal places
# This includes 'Human Development Index (HDI)', 'Life expectancy at birth',
# 'Expected years of schooling', 'Mean years of schooling',
# and 'Gross national income (GNI) per capita' (for dollars)

# Identify columns to convert to numeric
numeric_cols <- c(
  "Human Development Index (HDI)",
  "Life expectancy at birth",
  "Expected years of schooling",
  "Mean years of schooling",
  "Gross national income (GNI) per capita"
)

# Apply as.double to these columns. Adding a gsub for 'Human Development Index (HDI)'
# to remove any non-numeric characters (like hidden spaces) that might prevent proper conversion.
HumDevIndx <- HumDevIndx %>%
  mutate(
    `Human Development Index (HDI)` = as.double(gsub("[^0-9.]", "", `Human Development Index (HDI)`)),
    across(all_of(setdiff(numeric_cols, "Human Development Index (HDI)")), as.double)
  )

# To display with 2 decimal places for relevant columns, you'd typically format for output
# rather than changing the underlying data type. For example:
# HumDevIndx$`Human Development Index (HDI)` <- round(HumDevIndx$`Human Development Index (HDI)`, 2)
# The `head()` output might truncate decimal display, but `str()` will confirm the underlying type.

head(HumDevIndx)
str(HumDevIndx)

  2023 HDI rank Country     Human Development Index (HDI)
1 1             Iceland     0.97
2 2             Norway      0.97
3 2             Switzerland 0.97
4 4             Denmark     0.96
5 5             Germany     0.96
6 5             Sweden      0.96
  Life expectancy at birth Expected years of schooling Mean years of schooling
1 82.69                    18.85                       13.91
2 83.31                    18.79                       13.12
3 83.95                    16.67                       13.95
4 81.93                    18.70                       13.03
5 81.38                    17.31                       14.30
6 83.26                    18.99                       12.74
  Gross national income (GNI) per capita GNI per capita rank minus HDI rank
1  69116.94                              12
2 112710.02                               0
3  81948.90                               5
4  76007.86                               4
5  64053.22                              13
6  66102.09                              10
  2022 HDI rank
1 3
2 1
3 2
4 4
5 6
6 4

'data.frame':	262 obs. of  9 variables:
 $ 2023 HDI rank                         : int  1 2 2 4 5 5 7 8 8 10 ...
 $ Country                               : chr  "Iceland" "Norway" "Switzerland" "Denmark" ...
 $ Human Development Index (HDI)         : num  0.97 0.97 0.97 0.96 0.96 0.96 0.96 0.96 0.96 0.95 ...
 $ Life expectancy at birth              : num  82.7 83.3 84 81.9 81.4 ...
 $ Expected years of schooling           : num  18.9 18.8 16.7 18.7 17.3 ...
 $ Mean years of schooling               : num  13.9 13.1 13.9 13 14.3 ...
 $ Gross national income (GNI) per capita: num  69117 112710 81949 76008 64053 ...
 $ GNI per capita rank minus HDI rank    : int  12 0 5 4 13 10 14 4 6 9 ...
 $ 2022 HDI rank                         : int  3 1 2 4 6 4 8 9 7 13 ...

In [165]:
# Remove rows where '2023 HDI rank' is NA (blank)

HumDevIndx <- HumDevIndx[!is.na(HumDevIndx$`2023 HDI rank`), ]

# Reset row names to a continuous sequence starting from 1
rownames(HumDevIndx) <- NULL

# Display the head of the data frame to verify
head(HumDevIndx)

  2023 HDI rank Country     Human Development Index (HDI)
1 1             Iceland     0.97
2 2             Norway      0.97
3 2             Switzerland 0.97
4 4             Denmark     0.96
5 5             Germany     0.96
6 5             Sweden      0.96
  Life expectancy at birth Expected years of schooling Mean years of schooling
1 82.69                    18.85                       13.91
2 83.31                    18.79                       13.12
3 83.95                    16.67                       13.95
4 81.93                    18.70                       13.03
5 81.38                    17.31                       14.30
6 83.26                    18.99                       12.74
  Gross national income (GNI) per capita GNI per capita rank minus HDI rank
1  69116.94                              12
2 112710.02                               0
3  81948.90                               5
4  76007.86                               4
5  64053.22                              13
6  66102.09                              10
  2022 HDI rank
1 3
2 1
3 2
4 4
5 6
6 4

In [166]:
#show the tail to ensure that the changes made it through the entire data frame
tail(HumDevIndx,25)

    2023 HDI rank Country
169 169           Senegal
170 170           Gambia
171 171           Congo (Democratic Republic of the)
172 172           Malawi
173 173           Benin
174 174           Guinea-Bissau
175 175           Djibouti
176 176           Sudan
177 177           Liberia
178 178           Eritrea
179 179           Guinea
180 180           Ethiopia
181 181           Afghanistan
182 182           Mozambique
183 183           Madagascar
184 184           Yemen
185 185           Sierra Leone
186 186           Burkina Faso
187 187           Burundi
188 188           Mali
189 188           Niger
190 190           Chad
191 191           Central African Republic
192 192           Somalia
193 193           South Sudan
    Human Development Index (HDI) Life expectancy at birth
169 0.53                          68.68
170 0.52                          65.86
171 0.52                          61.90
172 0.52                          67.35
173 0.52                          60.77
174 0.51                          64.08
175 0.51                          65.99
176 0.51                          66.33
177 0.51                          62.16
178 0.50                          68.62
179 0.50                          60.74
180 0.50                          67.32
181 0.50                          66.03
182 0.49                          63.61
183 0.49                          63.63
184 0.47                          69.30
185 0.47                          61.79
186 0.46                          61.09
187 0.44                          63.65
188 0.42                          60.44
189 0.42                          61.18
190 0.42                          55.07
191 0.41                          57.41
192 0.40                          58.82
193 0.39                          57.62
    Expected years of schooling Mean years of schooling
169  9.14                       2.93
170  8.98                       4.67
171 10.91                       7.38
172  9.90                       5.24
173 10.45                       3.19
174 10.64                       3.67
175  6.21                       3.95
176  8.62                       3.96
177 10.47                       6.17
178  7.34                       5.09
179 10.39                       2.49
180  9.22                       2.40
181 10.79                       2.51
182 10.85                       4.59
183  9.06                       4.59
184  7.49                       5.48
185  9.06                       3.54
186  8.73                       2.27
187  9.83                       3.47
188  7.01                       1.63
189  8.31                       1.41
190  8.35                       2.33
191  7.44                       3.99
192  7.49                       1.90
193  5.63                       5.73
    Gross national income (GNI) per capita GNI per capita rank minus HDI rank
169 4202.03                                -12
170 2812.02                                  1
171 1431.05                                 17
172 1633.69                                 12
173 3805.53                                -13
174 2403.06                                  2
175 6367.61                                -36
176 2810.31                                 -4
177 1537.86                                  9
178 2029.07                                  1
179 3494.35                                -16
180 2795.51                                 -7
181 1971.55                                 -1
182 1355.77                                  7
183 1655.76                                  0
184 1018.20                                  7
185 1713.73                                 -3
186 2390.53                                 -9
187  858.92                                  5
188 2341.59                                -10
189 1590.19                                 -3
190 1748.00                                 -9
191 1099.86                                 -1
192 1474.74                                 -5
193  688.35                                  0
    2022 HDI rank
169 169
170 170
171 172
172 173
173 174
174 175
175 176
176 171
177 177
178 178
179 179
180 181
181 180
182 182
183 183
184 184
185 185
186 186
187 187
188 188
189 189
190 189
191  NA
192 192
193 191

In [167]:
#calculating means:
#Life expectancy at birth (rounded to 2 decimal places)
#Expected years of schooling (rounded to 2 decimal places)
#Mean years of schooling(rounded to 2 decimal places)
#Gross national income (GNI) per capita (rounded to 2 decimal places)


round(mean(HumDevIndx$`Life expectancy at birth`, na.rm = TRUE), 2)
round(mean(HumDevIndx$`Expected years of schooling`, na.rm = TRUE), 2)
round(mean(HumDevIndx$'Mean years of schooling', na.rm = TRUE), 2)
round(mean(HumDevIndx$'Gross national income (GNI) per capita', na.rm = TRUE), 0)

[1] 73.11

[1] 13.58

[1] 9.17

[1] 24621